.video {
  background: url('/images/video_bg.png') center center no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.player {
  position: relative;
  display: inline-block;
  width: 70.5%;
  min-height: 49.4%;

  &.hidden {
    opacity: 0;
    transition: opacity .3s;
  }
}

.player__splash {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/player_bg.png') center center / cover no-repeat;
  cursor: pointer;
}

.player__wrapper {
  width: 100%;
  height: 100%;

  &.active .player__splash {
    display: none;
  }
  &.active .player__start-btn {
    display: none;
  }
}

.player__controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: #3e3e3e;
}

.player__start {
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  position: absolute;
  top: 5px;
  left: 20px;
  outline: none;
  cursor: pointer;
  &.paused {
    width: 14px;
    height: 22px;
    border: none;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      top: 0;
      bottom: 0;
      background: #626262;
    }
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
  }
}

.player__start-btn {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  background: url('../images/play_white.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include tablets() {
    background: url('../images/play_black.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.player__playback {
  position: absolute;
  height: 11.44%;
  width: 67.495%;
  background: #626262;
  top: rem(15px);
  left: rem(50px);
  cursor: pointer;
}

.player__playback-button {
  background: #626262;
  border-radius: 50px;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  left: 0;
  cursor: pointer;
}

.player__sound-btn {
  display: none;
  background: #626262;
  border-radius: 50px;
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  position: absolute;
  top: 2px;
  transform: translateY(-50%);
  left: 50px;
  cursor: pointer;

  &.opened {
    display: block;
  }
}

.player__duration {
  position: absolute;
  top: 7px;
  right: 20px;
  color: #626262;
  font-weight: bold;

  @include howWeWork() {
    display: none;
  }
}

.player__sound {
  width: 5%;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 107px;

  @include tablets() {
    display: none;
  }
  @include phones() {
    display: none;
  }
}

.sound__mic {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  fill: #626262;
}

.sound__volume {
  &.opened {
    position: absolute;
    height: 10%;
    width: 9%;
    background: #626262;
    right: 11.5%;
    cursor: pointer;
  }

  @include phones {
    position: absolute;
    top: 0;
  }
}

.duration__length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: #626262;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  margin-left: 2rem;
}

#yt-player {
  width: 100%;
}
