//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/fonts",
        "_misc/layout";


//common
@import "blocks/common/btn.scss",
        "blocks/common/fixed-menu.scss",
        "blocks/common/section-title.scss";

// blocks
@import "blocks/hero.scss",
        "blocks/best.scss",
        "blocks/header.scss",
        "blocks/order.scss",
        "blocks/reviews.scss";
