.menu {
  position: relative;
  background: url('../images/menu_bg.png') center center / cover no-repeat;
}
.menu-accordeon {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  display: -webkit-box;
  justify-content: flex-end;

  &__list {
    width: rem(240px);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  &__item {
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__title {
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    top: 94%;
    left: 50%;
    width: max-content;
  }
  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $grey;
    opacity: .92;
  }
  &__content-text {
    @include ubuntu($style: light);
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: rem(14px);
    line-height: rem(24px);
  }
}

.section-title_menu {
  position: absolute;
  top: rem(95px);
  left: rem(95px);
}

.menu-accordeon__title {
  @include gagalin();
  font-size: rem(40px);
  color: #ffffff;
}
