.menu {
  position: relative;
  background: url('../images/menu_bg.png') center center / cover no-repeat;
}
.menu-accordeon {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.menu-accordeon__list {
  
}



.menu-accordeon__title {
  @include gagalin();
  font-size: 40px;
  color: #ffffff;
}
