.order {
  background: url('../images/order_bg.png') center center no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.form {
  width: 49%;

  &__row {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__clear {
    margin-left: 20px;
  }
}

.form__block-title, .form-controlls__btn-title, .form__clear {
  @include ubuntu($style: light)
  font-size: 14px;
  color: #e2e2e2;
}

.form__block-input {
  @include ubuntu($style: light)

  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  outline: none;
  width: 100%;
  padding: 9px 10px;

  &:focus {
    width: 100%;
    border: 2px solid $yellow;
    transition: .3s;
  }
}

.form__block-input_comment {
  height: 101px;

}

.form-controlls {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 20px;  // не работает почему-то
  }

  &__radio {
    display: none;
  }
  &__checkbox {
    display: none;
  }
  &__btn {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.form-controlls__fake-radio {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px;

  &:after {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
}

.form-controlls__fake-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #c9c9c9;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px;

  &:after {
    content: "";
    width: 0px;
    height: 0px;
    background: $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
}

.form-controlls__radio:checked~.form-controlls__fake-radio:after {
  width: 8px;
  height: 8px;
}

.form__confirm {
  display: flex;
  align-items: center;
}
