.popup {
  position: absolute;
  top: 13.8%;
  left: 3.7%;
  &__container {
    width: rem(90px);
    height: rem(90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f08c33;
    border-radius: 10%;
  }
  &__picture-icon {
    width: rem(48px);
    height: rem(48px);
  }
  &__picture-name {
    color: #ffffff;
    text-transform: uppercase;
    font-size: rem(14px);
    @include gagalin();
  }
}
