.team {
  background: url(../images/team_bg.png) center center / cover no-repeat;
  position: relative;

  &__container {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50.9%;
    display: flex;
    justify-content: center;
    background-color: $grey;
    opacity: .92;

    @include tablets() {
      left: initial;
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: rem(98px);
    padding-top: rem(96px);

    @include tablets() {
      padding: 0;
    }
  }
}

.team-accordeon {

  &__item {
    padding-bottom: rem(17px);
  }
    &:last-child {
      padding-bottom: 0;
    }
  &__item_active {
    padding-bottom: rem(34px);
  }
  &__content {
    display: flex;
    height: 0;
    overflow: hidden;
    padding-top: rem(15px);

    @include tablets() {
      flex-direction: column;
      align-items: center;
    }
  }
  &__avatar {
    width: 30.5%;
    text-align: center;
  }
  &__avatar-img {
    width: 100%;
    height: 100%;
    width: rem(100px);
  	height: rem(100px);
  	border-radius: 50%;
  }
  &__description {
    width: 50%;

    @include tablets() {
      width: 38%;
    }
  }
}

.team-accordeon__title:before {
  content: '';
  border: rem(5px) solid transparent;
  width: 0;
  height: 0;
  border-top-color: $yellow;
  border-bottom-width: 0;
  border-left-width: rem(5px);
  border-right-width: rem(5px);
  display: inline-block;
  margin-right: rem(9px);
}

.team-accordeon__item_active .team-accordeon__content {
  height: 100%;
}
.team-accordeon__item_active .team-accordeon__title {
  color: $yellow;
}
.team-accordeon__item_active .team-accordeon__title::before {
  content: '';
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: $yellow;
  border-top-width: 0;
  border-left-width: rem(5px);
  border-right-width: rem(5px);
  display: inline-block;
}

.team-accordeon__title {
  @include gagalin();
}

.team-accordeon__description-title {
  @include ubuntu($style: bold);

  margin-bottom: rem(20px);
}

.team-accordeon__description-text {
  @include ubuntu($style: light);
}

.team-accordeon__title, .team-accordeon__description-title, .team-accordeon__description-text {
  font-size: rem(14px);
  color: #ffffff;
}
