<<<<<<< HEAD
.btn {
  @include ubuntu($style: medium);

  padding: rem(8px) rem(15px);
  background: $red;
  color: #fff;
  text-decoration: none;
  outline: none;
  border-radius: rem(5px);
  border-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-size: rem(13px);
  cursor: pointer;

  @include tablets() {
    font-size: rem(16px);
  }
  @include phones() {
    font-size: rem(16px);
  }

  &_background_black {
    background: $black;
  }
  &_background_none {
    background: transparent;
  }
}
=======
.btn {
  @include ubuntu($style: medium);

  padding: 8px 15px;
  background: $red;
  color: #fff;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  border-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;

  &_background_black {
    background: $black;
  }
  &_background_none {
    background: transparent;
  }
}
>>>>>>> c57192b5a90850908f1110a80a247e60c63725e7
