<<<<<<< HEAD
.section-title {
  @include gagalin()

  font-size: rem(72px);
  color: $yellow;
  line-height: 1.1;
  margin-bottom: rem(50px);

  @include tablets() {
    font-size: rem(76px);
  }
  @include phones() {
    font-size: rem(70px);
  }

  &_black {
    color: $black;
  }
  &_white {
    color: #ffffff;
  }
  &_hero {
    margin-bottom: rem(25px);

    @include tablets() {
      white-space: nowrap;
      margin-bottom: rem(15px);
    }
    @include phones() {
      white-space: nowrap;
    }
  }
  &_team {
    margin-bottom: rem(40px);

    @include phones() {
      font-size: rem(62px);
      margin-bottom: rem(30px);
    }
  }
}
=======
.section-title {
  @include gagalin()

  font-size: 72px;
  color: $yellow;
  line-height: 1.1;
  margin-bottom: 50px;

  &_black {
    color: $black;
  }
  &_hero {
    margin-bottom: 25px;
  }
}
>>>>>>> c57192b5a90850908f1110a80a247e60c63725e7
