.modal-review {
  display: none;
  background: rgba(0, 0, 0, 0.603);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &__inner {
    max-width: 28.125rem;
    padding: 1.5625rem 1.25rem;
    padding-right: rem(40px);
    border-radius: rem(5px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: auto;
  }
}
